<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.synotive.link.om" android:largeHeap="true" android:versionName="1.1.8" android:versionCode="23">
	<uses-sdk android:minSdkVersion="14" android:targetSdkVersion="21" />
	<application android:icon="@drawable/Icon" android:label="Link-OM" android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"></application>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.VIBRATE" />
</manifest>